@font-face {
    font-family: HelveticaNeueStd;
    src: url(/assets/fonts/HelveticaNeueStd.otf);
}

@font-face {
    font-family: HelveticaNeueThin;
    src: url(/assets/fonts/HelveticaNeueThin.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

html, body {
    background-color: #000000;
    font-family: HelveticaNeueStd;
}

/* Bootstrap Overides */

/* This makes the navigation pure black */
.bg-dark {
    background-color: #000000!important
}

.navbar-dark .navbar-toggler {
    color: #ffffff!important;
    border: none!important;
}

/* This makes the navigation items align to the right */
ul {
    margin-left: auto;
}

.main-header {
   font-size: 5rem; 
   color: #ffffff;
   font-weight: 100;
   font-family: HelveticaNeueThin;
}

.navbar-brand {
    width: 12%;
}

.project-intro {
    padding: 0!important;
    margin: 0;
}

.row {
    margin: 0!important;
    padding: 0!important;
}


/* Cool little tool that shows the viewport size in the top left of the screen
   thank you Joel Gee! */
.size-indicator {
    position: fixed;
    top: 15px;
    left: 15px;
    display: block;
    background-color: rgba(0,0,0,0.7);
    color: red;
    padding: 2px 5px 2px 5px;
    z-index: 9999;
}

/* Project Page | Hover Over Text Effects */
.project-wrap {
    position: relative;
  }
  
  .project-description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.459);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .project-wrap:hover .project-description-layer {
    visibility: visible;
    opacity: 1;
  }
  
  .project-description {
    transition: .5s;
    transform: translateY(10em);
  }
  
  .project-wrap:hover .project-description {
    transform: translateY(0);
  }

.project-name {
    font-family: HelveticaNeueThin;
    margin: 0;
    padding: 0;
}

.project-center {
    margin-top: 50px;
}

.project-text {
    color: #ffffff;;
    font-family: HelveticaNeueThin;
    padding: 0!important;
    margin-bottom: 20px;
}

.project-text-2 h1 {
    float: right;
    text-align: right;
}

.project-types {
    font-size: .6em; 
}

.project-hr {
    margin-bottom: 0;
}

.footer {
    position: fixed;
    color: #ffffff;
    bottom: 0;
    text-align: center!important;
    width: 100%;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
 
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff; 
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .center {
        margin-top: 100px;
    }

    .navbar-brand {
        width: 20%;
    }

    .column {
        width: 100%;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .center {
        margin-top: 180px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .column {
        width: 50%;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .center {
        margin-top: 300px;
    }
}