/* Bootstrap Size Indicator - ty Joel */
.size-indicator {
    position: fixed;
    top: 15px;
    left: 15px;
    display: block;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 2px 5px 2px 5px;
    z-index: 9999;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-style: normal;
    color: #fff !important;
}

#test {
  scroll-margin-top: -500px; /* adjusts where it scrolls to */
  padding-top: 50px; /* optional: spacing for visual clarity */
}


h1 {
    font-size: 3rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

h3 {
    font-weight: 400!important;
    letter-spacing: 1.2px;
    padding-top: 10px;
}

/* Navbar CSS */

/* Changes navbar to transparent */
.bg-dark {
    background-color: #000!important;
}

/* Space between the top of the screen and the start of the navbar */
.navbar {
    padding-top: 1.5rem;
}

/* Navbar logo size */
.navbar-brand {
    width: 200px;
}

/* Navbar "Information" size */
.navbar-nav .nav-link {
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-nav .nav-link {
        font-size: 0.85rem;
    }
}


/* CSS For the thumbnail sections */
.thumbnail-section
.title {
    padding: 1rem 0rem 0rem 0rem;
    font-size: 1.25rem;
}

.thumbnail-section a {
    color: #fff;
    text-decoration: none !important;
}

.tags {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0rem 0rem 2rem 0rem;
    font-style: italic;
}

.project-section {
    color: #fff !important;
    font-weight: 100;
}

.footer-1 {
    color: #fff !important;
    font-weight: 200;
    padding-top: 50px;
    bottom: 0;
}

.navbar-toggler {
    color: #fff !important;
    border-color: transparent !important;
    padding: 0;
}

.navbar-collapse {
    justify-content: flex-end;
}

#loading-img {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 100vw;
}

.error-set {
    height: 200px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 100vw;
}

.error-set h1{
    font-weight: 400;
}

.error-set h3 {
    font-weight: 200;
}

.error-set a {
    color: #fff;
}

.about-page {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .about-page {
        margin-top: 30px;
        margin-bottom: 8.5vh;
    }

    .contact-info {
        text-align: left;
    }
}

.about-page h3, h4 {
    font-weight: 200;
    margin-bottom: 20px;
}

.contact-info {
    text-align: right;
}

.contacts a {
    color: #fff;
}

.btn {
    background-color: #fff;
    font-weight: 600;
    color: #000;
    border-color: transparent;
    border-radius: .4rem;
}

.btn:hover {
   color: #fff;
   background-color: transparent;
   border-color: #fff;
   border-width: 1.5px;
}

.btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none;
    }

.nav-item {
    padding-right: .2rem;
    padding-left: .2rem;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.footer-link:hover {
        color: rgba(255,255,255,.55);
    }

.header-text-bold {
    font-weight: 400;
}

.service-intro-text {
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

 .service-intro-text h1 {
        padding-bottom: 20px;
        padding-top: 100px;
        font-size: 5rem;
        font-weight: 200;
    }

.service-intro-image {
    padding: 100px 10px 10px 100px;
}

.dropdown-menu {
    background-color: #000;
}

a.dropdown-item {
    color: #fff;
}

a.dropdown-item:hover {
    background-color: transparent;
    color: rgba(255,255,255,.55);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.homepage-button, .homepage-button a {
    color: #fff;
    background-color: transparent;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.5rem;
    padding: 0;
    border: 0;
    text-decoration: underline;
}

    .homepage-button:hover {
        border: none;
        color: rgba(255,255,255,.55);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.homepage-image {
    padding: 100px 0px 100px 100px;
}

.service-main-text h4 {
    padding-right: 100px;}

.service-info h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.service-header {
    font-size: 70px;
    padding: 50px 0px 50px 0px;
}

.service-header h3 {
    font-weight: 300;
}

.quote-banner {
    padding: 150px 0px 150px 00px;
}

.quote-banner h2 {
    padding-bottom: 15px;        
}

.button-container {
    display: flex;
    gap: 50px; /* Space between buttons */
}

.button-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    background-color: #000; /* Adjust button background */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Icon styling inside button */
.button-link img.icon {
    width: 1rem;
    height: 1rem;
    margin-left: 8px; /* Space between text and icon */
    transition: transform 0.3s ease;
}

/* Hover effect */
.button-link:hover {
    color: #C9C8C5;
}

.button-link:hover img.icon {
    transform: translateX(5px); /* Move icon slightly to the right on hover */
}

.hero-image img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.hero-section {
    height: 90vh; /* 100% of the viewport height */
    align-items: stretch;
}

.row.h-100 {
    height: 90vh!important;
    display: flex;
    padding-bottom: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Push content to the bottom */
    flex-grow: 1;
    padding-bottom: 10vh;
}

.project-layout {
    padding-top: 50px;
}

    .project-layout h2, h3 {
        font-size: 1rem;
    }


@media (max-width: 991.98px) {
    .button-container {
        flex-direction: column;
    }

    .button-link {
        margin-bottom: 10px;
    }

    .project-image img {
        padding-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 1.5rem;
    }

    .hero-section {
        height: auto;
    }

    .hero-image img {
        object-fit: contain;
    }

    .button-container {
        display: flex;
        gap: 0px; /* Space between buttons */
        text-align: left;

    }
}