@page "/project/35mmfilm"

<PageTitle>typedesigns | 35mm Film</PageTitle>

<ProjectView ProjectDescription="A various selection of film photos shot on various cameras. Currently equipt with the Cannon T70 film camera shooting various film stocks. (Mostly Kodak 400)"

ProjectTags="2020, 2021, 2022, Photography"/>

<div class="row">
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/35mm-film/film-l-1.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-p-1.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-l-2.jpg"/>
    </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/35mm-film/film-p-2.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-l-4.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-l-5.jpg"/>
    </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/35mm-film/film-p-3.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-l-7.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-p-4.jpg"/>
    </div>   
    
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/35mm-film/film-l-8.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-p-6.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-l-9.jpg"/>
        <ProjectView ProjectImage="/images/projects/35mm-film/film-p-5.jpg"/>
    </div>
</div>
