@page "/about"

<PageTitle>typedesigns | About</PageTitle>

<div class="container">
    <div class="row about-page">
        <div class="col-12 about-page">
            <h3>We are a small design studio based in the Derwent Valley of Tasmania. We do all sorts
            of work with clients big and small all over Tasmania.</h3>
            
            <h3>We specialise in branding & identity
            and have had experience working in many areas of design including web develoment, copywriting,
            print & digital, signage and so much more.</h3>

            <h3>We have limited space for new clients and projects, but are always excited to push new projects into our schedule.</h3>
        </div>
    </div>
</div>