@page "/about"

<PageTitle>typedesigns | About</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="images/about.jpg"/>
        </div>

        <div class="col-6 about-page">
            <h1>We are typedesigns.</h1>
            <h3>A small design studio based in the Derwent Valley of Tasmania. We do all sort
            of work with clients big and small all over Tasmania. We specialise in branding & identity
            and have has experience working in many areas of design including web develoment, copywriting,
            print & digital, signage and so much more.</h3>
        </div>
    </div>
</div>