@page "/project/artemwines"

<PageTitle>typedesigns | Artem Wines</PageTitle>

<ProjectView
    ProjectDescription="Branding and packaging for Artem Wines, a small vinyard
    situated in the Derwent Valley of Tasmania in Bushy Park. We created labels
    for their main line of wines using some rather surrealistic specimens."

    ProjectTags="2018, Label Design & Packaging"/>

<div class="row">
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/artem-wines/artem-wines-header.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <ProjectView ProjectImage="/images/projects/artem-wines/artem-wines-1.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <ProjectView ProjectImage="/images/projects/artem-wines/artem-wines-2.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <ProjectView ProjectImage="/images/projects/artem-wines/artem-wines-3.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <ProjectView ProjectImage="/images/projects/artem-wines/artem-wines-4.jpg"/>
    </div>
</div>

@code {

}
