@page "/project/ashwooddevelopments"

<PageTitle>typedesigns | Ashwood Developments</PageTitle>

<ProjectView ProjectDescription="Full web design for Ashwood Developments." ProjectTags="2022"/>

<div class="row">
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/ashwood-developments/ashwood-main.gif"/>
    </div>
</div>
