@page "/project/ashwooddevelopments"

<PageTitle>typedesigns | Ashwood Developments</PageTitle>

<ProjectView
ProjectDescription="Web design for Ashwood Developments, a Tasmanian building and developments
             team jam-packed with industry leading builders and seasoned design experts."

ProjectTags="2022, Web Design"/>

<div class="row">
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/ashwood-developments/ashwood-main.gif"/>
    </div>
</div>
