@page "/project/brewlab"

<PageTitle>typedesigns | Brew Lab</PageTitle>

<ProjectView ProjectDescription="Full web design and development for Brew Lab. Branding and identity by Dubsi Design." ProjectTags="2019, Web Design & Development"/>

<div class="row">
    <div class="col-12">
        <ProjectView ProjectImage="/images/thumbnails/brewlab-thumbnail.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <ProjectView ProjectImage="/images/projects/brewlab/brewlab-1.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <ProjectView ProjectImage="/images/projects/brewlab/brewlab-2.jpg"/>
    </div>
</div>
