@page "/contact"

<PageTitle>typedesigns | Contact</PageTitle>
<div class="container">
    <div class="row homepage-align">
        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
            <h1>
                Feel free to say <span class="header-text-bold">howdy!</span>
            </h1>
            <button type="button" class="btn homepage-button">
                <a href="tel:0448640563">0448 640 563</a>
            </button>
            <br>
            <button type="button" class="btn homepage-button">
                <a href="mailto:tyler@typedesigns.com.au">tyler@typedesigns.com.au</a>
            </button>
        </div>

        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
            <div>
                <img class="img-fluid homepage-image" src="/images/placeholder.jpg" />
            </div>
        </div>
    </div>
</div>