@page "/projects/eve-and-co"

<PageTitle>Eve &Aacute; Co | Typedesigns Projects</PageTitle>
<div class="container-fluid">

    <div class="row project-layout">
        <div class="col-12">
            <h2 class="title">Eve &amp; Co</h2>
            <h3 class="tags">Print, Digital, Signage</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/eve-and-co/eve-co-1.jpg" />
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/eve-and-co/eve-co-2.jpg" />
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/eve-and-co/eve-co-3.jpg" />
        </div>
    </div>
</div>