@page "/projects/gallaghers"

<PageTitle>Gallaghers Brewery | Typedesigns Projects</PageTitle>
<div class="container-fluid">

    <div class="row project-layout">
        <div class="col-12">
            <h2 class="title">Gallaghers Brewery</h2>
            <h3 class="tags">Branding, Packaging</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/gallaghers/gallaghers-1.jpg" />
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/gallaghers/gallaghers-2.jpg" />
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/gallaghers/gallaghers-3.jpg" />
        </div>
    </div>
</div>