@page "/project/gallaghers-brewery"

<PageTitle>typedesigns | Gallaghers Brewery</PageTitle>

 <ProjectView ProjectDescription="Branding and packaging for Gallaghers Brewery." ProjectTags="2021, Branding, Packaging"/>


<div class="row">
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/gallaghers-brewery/gallaghers-header.jpg"/>
    </div>

    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/gallaghers-brewery/gallaghers-1.jpg"/>
    </div>

    <div class="col-6">
        <ProjectView ProjectImage="/images/projects/gallaghers-brewery/gallaghers-2.jpg"/>
    </div>

    <div class="col-6">
        <ProjectView ProjectImage="/images/projects/gallaghers-brewery/gallaghers-3.jpg"/>
    </div>
</div>
