@page "/"

<PageTitle>typedesigns | Design, Print, Signage</PageTitle>

<div class="container-fluid hero-section">
  <div class="row h-100">
    <!-- Left Side: Text & Buttons -->
    <div class="col-lg-4 col-md-12 d-flex flex-column justify-content-end text-container">
      <h1 class="mb-3">Design + Print + Signage</h1>

      <!-- Main Buttons -->
      <div class="button-container d-flex">
        <a href="/information" class="button-link">
          Find out more
          <img src="/icons/arrow-top-right.svg" alt="Arrow Icon" class="icon" />
        </a>
        <a href="" class="button-link">
          See our work
          <img src="/icons/arrow-bottom-right.svg" alt="Arrow Icon" class="icon" />
        </a>
      </div>
    </div>

    <!-- Right Side: Hero Image -->
    <div class="col-lg-8 col-md-12 hero-image">
      <img src="/images/homepage.gif" class="img-fluid" alt="Hero Image">
    </div>
  </div>

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Street Food Gluten Free" Tags="Brand Development, Digital, Signage, Print, Photography" Link="/projects/sfgf" Image="/images/thumbnails/cover-sfgf.jpg" />
            <ProjectPreview Title="Ecoflute" Tags="Logo Design, Print" Link="/projects/ecoflute" Image="/images/thumbnails/cover-ecoflute.jpg" />
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Abels Run" Tags="Brand Development, Digital, Print" Link="/projects/abels-run" Image="/images/thumbnails/cover-abelsrun.jpg" />
            <ProjectPreview Title="Gallaghers Brewery" Tags="Branding, Packaging" Link="/projects/gallaghers" Image="/images/thumbnails/cover-gallaghers.jpg" />
            <ProjectPreview Title="Brewtique on Blair" Tags="Brand Development, Digital, Signage, Print, Photography" Link="/projects/brewtique" Image="/images/thumbnails/cover-brewtique.jpg" />
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Eve & Co" Tags="Print, Digital, Signage" Link="/projects/eve-and-co" Image="/images/thumbnails/cover-eveandco.jpg" />
            <ProjectPreview Title="Webb Electrical Solutions" Tags="Logo Refresh, Print, Signage" Link="/projects/webb-electrical" Image="/images/thumbnails/cover-wes.jpg" />
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Dr.Robbie" Tags="Brand Development, Print" Link="/projects/dr-robbie" Image="/images/thumbnails/cover-drrobbie.jpg" />
            <ProjectPreview Title="Ashwood Developments" Tags="Web Development" Link="/projects/ashwood" Image="/images/thumbnails/cover-ashwood.jpg" />
        </div>
    </div>
</div>