@page "/"

<PageTitle>typedesigns</PageTitle>

<div class="row">
    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
        <ProjectPreview Title="3D" Tags="2022, 3D Design" Link="/project/3d" Image="/images/thumbnails/3d-thumbnail.png"/>
        <ProjectPreview Title="Brewlab" Tags="2019, Web Development" Link="/project/brewlab" Image="/images/thumbnails/brewlab-thumbnail.jpg"/>
        <ProjectPreview Title="Redlight Market" Tags="2020, Branding, Print" Link="/project/RedLightMarket" Image="/images/thumbnails/redlight-thumbnail.jpg"/>
    </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
        <ProjectPreview Title="Gallaghers Brewery" Tags="2021, Branding & Identity, Packaging" Link="/project/gallaghers-brewery" Image="/images/thumbnails/gallaghers-thumbnail.jpg"/>
        <ProjectPreview Title="Ausway" Tags="2019, Branding & Identity, Web Design, Packaging, Vehicle Livery" Link="/project/ausway" Image="/images/thumbnails/ausway-thumbnail.jpg"/>       
        <ProjectPreview Title="Underground Altar" Tags="2020, Branding & Identity, Print" Link="/project/undergroundaltar" Image="/images/thumbnails/undergroundaltar-thumbnail.jpg"/>
     </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
        <ProjectPreview Title="35mm Film Photography" Tags="2020, 2021, 2022, Photography" Link="/project/35mmfilm" Image="/images/thumbnails/35mm-thumbnail.jpg"/>
        <ProjectPreview Title="Artem Wines" Tags="2018, Label Design & Packaging" Link="/project/artemwines" Image="/images/thumbnails/artem-thumbnail.jpg"/>       
     </div>

    <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
        <ProjectPreview Title="Bank of Taswegia" Tags="2018, Copywriting, Advertising" Link="/project/bankoftaswegia" Image="/images/thumbnails/taswegia-thumbnail.jpg"/>
        <ProjectPreview Title="Space Co-Working" Tags="2021, Branding & Identity, Advertising, Signage" Link="/project/spacecoworking" Image="/images/thumbnails/space-thumbnail.jpg"/>
        <ProjectPreview Title="Ashwood Developments" Tags="2022, Web Design" Link="/project/ashwooddevelopments" Image="/images/thumbnails/ashwood-thumbnail.jpg"/>       
     </div>
</div>