@page "/information"

<PageTitle>typedesigns | Info</PageTitle>
<div class="container-fluid hero-section">
    <div class="row h-100">
        <div class="col-xl-4 col-lg-4 col-md-12 co-sm-12 col-xs-12 d-flex flex-column justify-content-end">
            <h1 class="mb-3">
                We're a small studio
                <br>
                producing big outcomes
            </h1>
            <br>
            <h3>
                Typedesigns is a solo-run design practice operated by Tyler Hall (amateur film photography enjoyer, signage enthusiast, and lover of kitchen-crafted goodness).
            </h3>
            <h3>
                Based in New Norfolk in the Derwent Valley of Tasmania, we work with clients across Tasmania, specialising in brand development, print media, and signage.
            </h3>
            <h3>
                Our aim is simple: to produce memorable and meaningful work that, in turn, delivers big impacts.
            </h3>
            <h3>
                Got an idea or a project in mind? Let's chat.
            </h3>
            <br />
            <h3 class="contacts">
                <a href="mailto:tyler@typedesigns.com.au" data-rel="external">tyler@typedesigns.com.au</a>
                <br>
                <a href="tel:+61448640563" data-rel="external">+61 448 640 563</a>
                <br>
                <a href="https://www.facebook.com/typedesigns.au/" data-rel="external">Facebook</a>
                <br>
                <a href="https://www.instagram.com/_typedesigns_/" data-rel="external">Instagram</a>
            </h3>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 co-sm-12 col-xs-12">
        </div>
    </div>
</div>