@page "/info"

<PageTitle>typedesigns | Info</PageTitle>
<div class="container">
    <div class="row homepage-align">
        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
            <h1>
                We're a small studio
                <br>
                producing <span class="header-text-bold">big outcomes</span>
            </h1>
            <h5>
                We are a small design studio based in the Derwent Valley of Tasmania doing all sorts of work with clients over Tasmania.
             </h5>
             <br>
             <h5>
                We specialise in brand design, print media, signage and web development and have had experience working in many areas of design including over the last 5+ years.
             </h5>
             <br>
             <h5>
                We have limited space for new clients and projects, but are always excited to push the right projects into our schedule.
            </h5>
        </div>

        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
            <div>
                <img class="img-fluid homepage-image" src="/images/placeholder.jpg" />
            </div>
        </div>
    </div>
</div>