@page "/our-work"

<PageTitle>typedesigns | Our Work</PageTitle>
<div class="container">
    <div class="row homepage-align">
        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
            <h1>
                Our <span class="header-text-bold">showcase</span>

                of <span class="header-text-bold">work</span>
            </h1>
            <h5>
                Client work, non-comissions and fun things we've created in our spare time. See our showcase of work that we've completed over the years.
            </h5>
        </div>

        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
            <div>
                <img class="img-fluid homepage-image" src="/images/placeholder.jpg" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Brewlab" Image="/images/projects/thumbnails/portfolio-thumbnail-brewlab.png" />
            <ProjectPreview Title="Gallaghers Brewery" Image="/images/projects/thumbnails/portfolio-thumbnail-gallaghers.png" />
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Busienss Derwent Valley" Image="/images/projects/thumbnails/portfolio-thumbnail-bdv.png" />
            <ProjectPreview Title="Artem Wines" Image="/images/projects/thumbnails/portfolio-thumbnail-artem-wines.png" />
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Typedesigns" Image="/images/projects/thumbnails/portfolio-thumbnail-typedesigns.png" />
            <ProjectPreview Title="Ashwood Developments" Image="/images/projects/thumbnails/portfolio-thumbnail-ashwood.png" />
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Street Food Gluten Free" Image="/images/projects/thumbnails/portfolio-thumbnail-sfgf.png" />
            <ProjectPreview Title="Space Co-working" Image="/images/projects/thumbnails/portfolio-thumbnail-space.png" />
        </div>
    </div>
</div>