@page "/project/redlightmarket"

<PageTitle>typedesigns | Red Light Market</PageTitle>

<ProjectView
    ProjectDescription="Branding and print for Red Light Market, a small Hobart city based market
             run every Thursday night."

    ProjectTags="2020, Branding, Print"/>

<div class="row">
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/red-light-market/redlight-header.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/red-light-market/redlight-1.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/red-light-market/redlight-3.jpg"/>
    </div>   
    
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/red-light-market/redlight-2.jpg"/>
    </div>
</div>
