@page "/project/redlightmarket"

<PageTitle>typedesigns | Red Light Market</PageTitle>

<ProjectView ProjectDescription="A various selection of film photos shot on various cameras. Currentlt equipt with the Cannon T70 film camera shooting various film stocks. (Mostly Kodak 400)" ProjectTags="Various"/>

<div class="row">
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/red-light-market/redlight-header.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/red-light-market/redlight-1.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/red-light-market/redlight-3.jpg"/>
    </div>   
    
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/red-light-market/redlight-2.jpg"/>
    </div>
</div>
