@page "/projects/sfgf"

<PageTitle>Street Food Gluten Free | Typedesigns Projects</PageTitle>
<div class="container-fluid">

    <div class="row project-layout">
        <div class="col-12">
            <h2 class="title">Street Food Gluten Free</h2>
            <h3 class="tags">Brand Development, Digital, Signage, Print, Photography</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/street-food-gluten-free/sfgf-1.jpg" />
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/street-food-gluten-free/sfgf-2.jpg" />
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/street-food-gluten-free/sfgf-3.jpg" />
        </div>
    </div>
</div>