@page "/services/signage"

<PageTitle>typedesigns | Design, Print, Signage</PageTitle>
<div class="container">
    <div class="row homepage-align">
        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
            <h1>
                Signage <span class="header-text-bold">solutions</span>
                <br>
                <span class="header-text-bold">big</span> and <span class="header-text-bold">small</span>
            </h1>
            <h5>
                Discover captivating signage solutions that make a lasting impression. From A-Frames and banner through to stickers and shopfronts,
                we craft high-quality signs tailored to your needs, helping you stand out and communicate effectively.
            </h5>
        </div>

        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
            <div>
                <img class="img-fluid homepage-image" src="/images/placeholder.jpg" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="A-Frames" Image="/images/thumbnails/branding-design-thumbnail.jpg" />
            <ProjectPreview Title="Stickers" Image="/images/thumbnails/custom-print-thumbnail.jpg" />
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Banners" Image="/images/thumbnails/brand-collateral-thumbnail.jpg" />
            <ProjectPreview Title="Vehicle Wraps & Signage" Image="/images/thumbnails/web-dev-thumbnail.jpg" />
        </div>

        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Business Signage" Image="/images/thumbnails/signage-thumbnail.jpg" />
            <ProjectPreview Title="Windows & Walls" Image="/images/thumbnails/clothing-thumbnail.jpg" />
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-12">
            <ProjectPreview Title="Flat Panel" Image="/images/thumbnails/branding-design-thumbnail.jpg" />
            <ProjectPreview Title="Something Else?" Image="/images/thumbnails/custom-print-thumbnail.jpg" />
        </div>
    </div>
</div>