@page "/project/undergroundaltar"

<PageTitle>typedesigns | Underground Altar</PageTitle>

<ProjectView
    ProjectDescription="Branding & print for Underground Altar, a re-purposed underground
                 car park turned into a night life haven."

    ProjectTags="2020, Branding, Print"/>

<div class="row">
    <div class="col-12">
        <ProjectView ProjectImage="/images/projects/underground-altar/underground-header.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/underground-altar/underground-1.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/underground-altar/underground-2.jpg"/>
    </div>   
    
    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/underground-altar/underground-3.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/underground-altar/underground-4.jpg"/>
    </div>

    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/underground-altar/underground-5.jpg"/>
    </div>   
    
    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
        <ProjectView ProjectImage="/images/projects/underground-altar/underground-6.jpg"/>
    </div>
</div>
