@page "/projects/webb-electrical"

<PageTitle>Webb Electrical Solutions | Typedesigns Projects</PageTitle>
<div class="container-fluid">

    <div class="row project-layout">
        <div class="col-12">
            <h2 class="title">Webb Electrical Solutions</h2>
            <h3 class="tags">Logo Refresh, Print, Signage</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/webb-electrical/wes-1.jpg" />
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/webb-electrical/wes-2.jpg" />
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12">
            <ProjectLayout Image="/images/projects/webb-electrical/wes-3.jpg" />
        </div>
    </div>
</div>