<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer>
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
            <h6 class="mb-4 font-weight-bold">
              About Us
            </h6>
            <p>
             We are a small design studio based in the Derwent Valley of Tasmania doing all sorts of work with clients over Tasmania.
             </p>
             <p>
             We specialise in brand design, print media, signage and web development and have had experience working in many areas of design including over the last 5+ years.
             </p>
             <p>
             We have limited space for new clients and projects, but are always excited to push new projects into our schedule.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="mb-4 font-weight-bold">Menu</h6>
            <p>
              <a class="footer-link" href="/">Home</a>
            </p>
            <p>
              <a class="footer-link" href="#">Services</a>
            </p>
            <p>
              <a class="footer-link" href="/info">Info</a>
            </p>
            <p>
              <a class="footer-link" href="/contact">Contact</a>
            </p>
            <p>
                        <a class="footer-link" onclick="window.location.href='https://iss672gwqqb.typeform.com/to/xaVLkNEU'">Grab a Quote</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="mb-4 font-weight-bold">
             Services
            </h6>
            <p>
              <a class="footer-link" href="/services/branding-design">Branding & Design</a>
            </p>
            <p>
              <a class="footer-link" href="#">Brand Collateral</a>
            </p>
            <p>
              <a class="footer-link" href="#">Signage</a>
            </p>
            <p>
              <a class="footer-link" href="#">Custom/Specialty Print</a>
            </p>
            <p>
              <a class="footer-link" href="#">Web Development</a>
            </p>
            <p>
              <a class="footer-link" href="#">Clothing</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="mb-4 font-weight-bold">Contact</h6>
            <p>
                <a href="mailto:tyler@typedesigns.com.au" class="footer-link">tyler@typedesigns.com.au</a>
            </p>
            <p>
                <a href="tel:0448640563" class="footer-link">0448 640 563</a>
            </p>
            <p>New Norfolk, Tasmania, Australia</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <!-- Section: Copyright -->
      <section>
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2023 Copyright typedesigns
            </div>
            <!-- Copyright -->
          </div>

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1 text-white"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1 text-white"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->