<div class="thumbnail-section">
    <a href="@Link">
        <img class="img-fluid" src="@Image"/>
        <h2 class="title">@Title</h2>
        <h3 class="tags">@Tags</h3>
    </a>
</div>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string Tags { get; set; }
}
