<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="project-section">
            <p>@ProjectDescription</p>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="project-section">
            <p>@ProjectTags</p>
        </div>
    </div>
</div>

<img class="img-fluid" src="@ProjectImage"/>

@code {
    [Parameter]
    public string ProjectDescription { get; set; }

    [Parameter]
    public string ProjectTags { get; set; }

    [Parameter]
    public string ProjectImage { get; set; }
}