<div class="container">
    <div class="row text-center">
        <div class="col quote-banner">
            <h2>Interested in finding out more or grabbing a quote?</h2>
            <button class="btn homepage-button" type="button" onclick="window.location.href='https://iss672gwqqb.typeform.com/to/xaVLkNEU'">Get in touch</button>
        </div>
    </div>
</div>