<div class="thumbnail-section">
        <img class="img-fluid" src="@Image" />
        <div class="title">@Title</div>
</div>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Image { get; set; }
}
